.hsc-container {
    display: flex;
}

#hsc-form {
    flex: 50%;
    padding: 2%;
}
#hsc-image {
    flex: 40%;
    margin-top: 15%;
    padding-left: 5%;
}

#hsc-img {
    height: 320px;
    width: 420px;
}

@media(max-width: 480px) {
    .hsc-container {
        flex-direction: column;
    }
    #hsc-image {
        margin: 7% 0 0 5%;
    }
    #hsc-img {
        height: 250px;
        width: 300px;
    }
}