body {
    background-color: #e9f8f9;
}

.otp-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 90px;
    padding: 10px;
    padding-left: 70px;
    width: 100%;
    flex-direction: row;
    text-align: center;
}

#logo-img{
    height: 310px;
    width: 395px;
}

#doc-img{
    height: 210px;
    width: 365px;
}

#eotp{
    margin-left: 2rem;
}

#resend{
    margin-left: 12rem;
    padding-left: 175px;
}

@media (max-width: 800px) {
    .otp-grid-container {
        flex-direction: column;
        text-align: center;
        gap: 0px;
        padding: 20px;
    }

    #eotp{
        margin-left: 0px;
        padding-left: 10px;
    }

    #resend{
        padding-left: 75px;
    }

    #logo-img{
        height: 0px;
        width: 0px;
    }
    
    #doc-img{
        height: 0px;
        width: 0px;
    }
}

.otp-grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 24;
    width: 100%;
}

#otp {
    border-radius: 20px;
    border: 2px solid #537fe7;
    padding: 20px;
    width: 900;
    height: 100;
    background-color: rgba(130, 170, 227, 0.45);
    font-size: medium;
}

.otp-grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    flex-direction: row;
}

@media (max-width: 800px) {
    .otp-grid-container1 {
        flex-direction: column;
    }
}

.otp-grid-container1 > div {
    text-align: center;
    padding: 20px 0px;
    font-size: 15px;
    width: 100%;
}

#box {
    word-spacing: 10;
}

#resend {
    width: 100%;
    margin: auto;
}

