.signup-container {
    display: flex;
    margin: 0% 6%; 
}

.signup-box {
    background-color: #82aae36d;
    margin: 0% 0.3% 0 3%;
    border: #537FE7 2px solid;
    border-radius: 20px;
    padding: 1.5% 5%;
    flex: 45%;
}

.signup-div {
    padding: 2px 50px;
    margin: 2px;
}

.dob-gender-grid {
    padding: 2px 50px;
    display: flex;
    flex-direction: row;
}

#signup-dob {
    flex: 50%;
    margin-right: 10px;
}

#signup-gender {
    flex: 50%;
    margin-left: 10px;
}

.signup-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signup-btn {
    background-color: #537FE7;
    border-radius: 20px;
    margin: 10px 0;
    padding: 8px 80px;
}

.signup-images {
    flex: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    justify-content: space-around;
}

#logo-image {
    height: 42vh;
    width: 25vw;
}

#doctor-image {
    height: 32vh;
    width: 30vw;
}

#medicine-image {
    height: 0;
}

#medocare-image {
    height: 0;
}

@media (max-width: 780px) {
    .signup-container {
        flex-direction: column-reverse;
        margin: 0px 5px;
    }
    .signup-images {
        margin: auto;
        flex-direction: row;
    }
    #logo-image {
        height: 0px;
        width: 0px
    }
    #doctor-image {
        height: 0px;
        width: 0px;
    }
    #medicine-image {
        height: 100px;
        width: 100px;
    }
    #medocare-image {
        height: 100px;
        width: 160px;
    }
    .dob-gender-grid {
        display: flex;
        flex-direction: column;
    }
    #signup-dob {
        margin: 0px;
    }
    #signup-gender {
        margin: 0px;
    }
}