* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #e9f8f9;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* to hide arrows from input type number in html */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
